.title {
  text-align: center;
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.product-name {
  margin: 0;
  color: rgb(71, 68, 68);
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.product-price {
  margin: 0;
  font-weight: bold;
} 


.catalog-container {
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 55px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.catalog-list {
  margin-top: 30px;
}

.catalog-title {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-size: 36px;
  color: #333;
}


.catalog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-card {
  width: calc(33.33% - 20px);
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-right: 16px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-to-cart-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.product-image {
  width: 100px;
  height: auto;
  float: left;
  margin-right: 10px;
  border-radius: 4px;
}


